Repository AY2021S1-CS2103T-W10-3/tp, pull requests merged in 2020-09, with the labels that each got.

#13 Change person class
  docs/SettingUp.md
  src/main/java/seedu/address/model/person/Address.java
  src/main/java/seedu/address/model/person/Email.java
  src/main/java/seedu/address/model/person/NameContainsKeywordsPredicate.java
  src/main/java/seedu/address/model/person/Person.java
  src/main/java/seedu/address/model/person/PersonName.java
  src/main/java/seedu/address/model/person/Phone.java
  src/main/java/seedu/address/model/person/exceptions/DuplicateTeammateException.java
  src/main/java/seedu/address/model/person/exceptions/TeammateNotFoundException.java
Labels: priority.High

#17 Add Teammate class and associated classes
  src/main/java/seedu/address/model/Teammate/TempAddress.java
  src/main/java/seedu/address/model/Teammate/TempEmail.java
  src/main/java/seedu/address/model/Teammate/TempName.java
  src/main/java/seedu/address/model/Teammate/TempNameContainsKeywordsPredicate.java
  src/main/java/seedu/address/model/Teammate/TempPhone.java
  src/main/java/seedu/address/model/Teammate/TempTeammate.java
  src/main/java/seedu/address/model/Teammate/exceptions/DuplicateTeammateException.java
  src/main/java/seedu/address/model/Teammate/exceptions/TeammateNotFoundException.java
  src/main/java/seedu/address/model/person/exceptions/DuplicatePersonException.java
  src/main/java/seedu/address/model/person/exceptions/PersonNotFoundException.java
Labels: priority.High

#23 Update AboutUs with member-Niaaz information
  docs/AboutUs.md
  docs/UserGuide.md
  docs/images/geniaaz.png.jpg
  docs/team/geniaaz.md
Labels: AboutUs

#27 UG: Add description, features before proj init
  docs/DeveloperGuide (original AB3 tempalte).md
  docs/UserGuide.md
  docs/images/geniaaz.png
  docs/images/geniaaz.png.jpg
Labels: UserGuide

#36 Add description to Readme
  README.md
Labels: ReadMe

#46 User Guide Teammate-related features and AboutUs.md
  docs/AboutUs.md
  docs/UserGuide.md
  docs/images/T-Fang.png
  docs/images/TCQian.png
  docs/images/lll-jy.png
  docs/images/lucastai98.png
  docs/team/T-Fang.md
  docs/team/TCQian.md
  docs/team/geniaaz.md
  docs/team/lll-jy.md
  docs/team/lucastai98.md
Labels: AboutUs, UserGuide

#49 Add use cases for PMS
  docs/DeveloperGuide.md
Labels: DeveloperGuide
